.cards__list {
  column-gap: 30px;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column: 1 / -1;
  padding-top: 120px;
}

@media screen and (max-width: 900px) {
  .cards__list {
    padding-top: 0;
  }
}