.gallery__item_label_tt::after {
  content: '';
  display: block;
  width: 100px;
  height: 40px;
  left: 0;
  bottom: 16px;
  position: absolute;
  background: url(../../../../images/gallery-tt-label.svg) no-repeat left center;
  background-size: contain;
}

@media screen and (max-width: 900px) {
  .gallery__item_label_tt::after {
    width: 70px;
    height: 28px;
  }
}