.author {
  color: #151515;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  margin: 0;
  padding-left: 80px;
  display: flex;
}

.layout_theme_dark .author {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .author {
    padding-left: 40px;
    font-size: 16px;
    line-height: 30px;
  }
}

@media screen and (max-width: 900px) {
  .author {
    font-size: 14px;
    line-height: 22px;
    padding-left: 0;
  }
}