.gallery__item {
  display: flex;
  overflow: hidden;
  position: relative;
}

.gallery__item:last-of-type {
  margin-right: -20px;
}

@media screen and (max-width: 900px) {
  .gallery__item {
    width: 100%;
  }

  .gallery__item:last-of-type {
    display: none;
    margin-right: 0;
  }
}