.menu-list__link {
  color: #151515;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.menu-list__link:hover {
  opacity: .75;
}

.layout_theme_dark .menu-list__link {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .menu-list__link {
    font-size: 18px;
  }
}