.paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  max-width: 460px;
  opacity: 0.7;
  padding: 0;
  width: 100%;
  color: #222;
}

.layout_theme_dark .paragraph {
  color: #E6E6E6;
  opacity: .7;
}