.header-container {
  background: url(../../images/header-container-bg.svg) no-repeat right bottom;
  background-size: auto 836px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  min-height: 856px;
  padding: 80px 0 80px 120px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .header-container {
    min-height: 450px;
    max-height: 650px;
    background-size: contain;
    padding: 80px 0 60px 100px;
  }
}

@media screen and (max-width: 900px) {
  .header-container {
    padding: 40px 18px;
    max-height: 100%;
    background-size: auto 348px;
    background-position: top 160px right 18px;
  }
}