.footer {
  background: #EFEFEF;
  box-sizing: border-box;
  padding: 80px 120px 60px 120px;
  position: relative;
  transition: background-color .2s linear;
}

.layout_theme_dark .footer {
  background: #2F2F2F;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 40px 18px 16px 18px;
  }
}