.main-image {
  background: url(../../images/main-image.svg) no-repeat center center, #F4F4F4;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  height: 100%;
  max-height: 300px;
  position: absolute;
  width: 100%;
  max-width: 440px;
  right: 370px;
  bottom: 164px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .main-image {
    max-width: 300px;
    max-height: 200px;
    background-size: 77%;
    right: auto;
    left: 45%;
    bottom: 50px;
  }
}

@media screen and (max-width: 900px) {
  .main-image {
    position: static;
    width: 300px;
    height: 200px;
    order: 2;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  }
}

@media screen and (max-width: 600px) {
  .main-image {
    width: 234px;
    height: 160px;
    order: 2;
  }
}