.logo {
  display: none;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 8px;
    right: 16px;
    background: url(../../images/logo.svg) no-repeat center center;
  }
}