.logo {
  display: none;
}

@media screen and (max-width: 900px) {
  .logo {
    align-self: end;
    background: url(../../images/logo.svg) no-repeat center center;
    display: block;
    height: 38px;
    justify-self: end;
    width: 38px;
  }
}