.profession {
  color: #222222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  opacity: 0.7;
  padding-left: 80px;
  display: flex;
}

.layout_theme_dark .profession {
  color: #E5E5E5;
  opacity: .7;
}