.theme-switcher {
  align-items: center;
  bottom: 68px;
  column-gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  right: 120px;
}

@media screen and (max-width: 900px) {
  .theme-switcher {
    position: fixed;
    z-index: 3;
    bottom: 36px;
    right: calc(50% - 66px);
    display: none;
  }
}