.heading_style_subtitle {
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  max-width: 470px;
  padding-left: 80px;
}

@media screen and (max-width: 1200px) {
  .heading_style_subtitle {
    font-size: 28px;
    line-height: 36px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 900px) {
  .heading_style_subtitle {
    font-size: 23px;
    line-height: 29px;
    padding: 0;
  }
}