.slider__btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.slider__btn:hover {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .slider__btn {
    width: 24px;
    height: 24px;
  }
}