.subscription__btn {
  bottom: 17px;
  display: none;
  position: absolute;
  right: 22px;
}

.subscription__input:focus + .subscription__btn {
  display: block;
}

.layout_theme_dark .subscription__input:focus + .subscription__btn {
  color: #fff;
}