.subscription__btn {
  bottom: 17px;
  visibility: hidden;
  position: absolute;
  right: 22px;
  transition: visibility 0s .2s linear;
}

.subscription__input:focus + .subscription__btn {
  visibility: visible;
}

.layout_theme_dark .subscription__input:focus + .subscription__btn {
  color: #fff;
}