.menu {
  background: #F4F4F4;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 28px 120px 28px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  max-width: 1440px;
  transition: background-color .2s linear;
}

.layout_theme_dark .menu {
  background: #333333;
}

@media screen and (max-width: 900px) {
  .menu {
    padding: 28px 18px;
  }
}