.header-container__heading {
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .header-container__heading {
    max-width: 360px;
  }
}

@media screen and (max-width: 900px) {
  .header-container__heading {
    padding-bottom: 191px;
    max-width: 284px;
  }
}